@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Bundesliga-font';
    src: url('./assets/fonts/Bundesliga-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Bundesliga-font', sans-serif;
    height: 100%; /* Ustawia pełną wysokość dla body */
    background-color: rgb(9 9 11);
}

html {
    height: 100%; /* Ustawia pełną wysokość dla html */
}

*::-webkit-scrollbar {
    display: none;
}
